# OpenAI API
OPENAI_API_KEY=sk-ws-H.REEPMID.JYjQ.MEYCIQDdkrywKo_XGJjEzT9xQ-yomUaGb1V0SQTjZlozNQdCXwIhALjWIIiImgwXT1c4OiZwnzg6xm__P1KPBZwxry2G8rqi
OPENAI_MODEL=qwen3.8-max
OPENAI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
# Tavily Search API
TAVILY_API_KEY=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

# 搜索配置
MAX_SEARCH_RESULTS=5
TEMPERATURE=0.3